#flag {
    width: 700px;
    height: 400px;
    border: solid;
    display: flex;
}

#blue {
    flex: 1;
    /* height: 100%; */
    background-color: blue;
}

#green {
    flex: 2;
    /* height: 100%; */
    background-color: green;
    margin: 0px 20px;
}

#red {
    flex: 1;
    /* height: 100%; */
    background-color: red;
}

#parentBox {
    display: flex;
    justify-content: space-evenly;
    background-color: burlywood;
    height: 300px;
    align-items: center;
}

.boxes {
    width: 200px;
    /* flex: 1; */
    margin: 20px;
    height: 100px;
    background-color: aquamarine;
}